@page
@model NotesApplication.Pages.EnterNotes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Note.ID" />
            <div class="form-group">
                <label asp-for="Note.Title" class="control-label"></label>
                <input asp-for="Note.Title" class="form-control" />
                <span asp-validation-for="Note.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.Notes" class="control-label"></label>
                <input asp-for="Note.Notes" class="form-control" />
                <span asp-validation-for="Note.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.CategoryId" class="control-label"></label>
                <input asp-for="Note.CategoryId" class="form-control" />
                <span asp-validation-for="Note.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Note.IsDeleted" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Note.userId" class="control-label"></label>
                <input asp-for="Note.userId" class="form-control" />
                <span asp-validation-for="Note.userId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
